# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.env
# Don't commit these images
beryl.png
boston.png
dallas.png
doge.png
lenny.png
munich.png
rage1.png
rage2.png
rage3.png
rage4.png
rwjblue.jpg
seth.png
shrug.png
slack.png
squirrel.png
sugarpirate.png
tomster.png
troll.png
bluestripe.jpg
meteor.png
wesbos.jpg
facepalm.jpg
r2d2.jpg
aussieparrot.gif
boredparrot.gif
gothparrot.gif
middleparrot.gif
moomin.jpg
mrb_bk.png
oldtimeyparrot.gif
partyparrot.gif
rgsoc.png
rightparrot.gif
shufflefurtherparrot.gif
shuffleparrot.gif
fireworkw_gif.gif
party_parrot_shuffle.gif
pikachu.gif
ado.gif
carlton2.gif
grumpy-cat.png
bundler.png
fireworks_gif.gif
hadouken.jpg
marvin.gif
mitm-squared.png
mitm.png
parrot.gif
ruby.jpg

1.png
1000.png
1e6.png
1e9.png
76ers.png
99.png
aaron.png
ado.png
airhorn.png
aliensguy.png
all_the_things.png
allthethings.png
amazon.png
america.png
andrew.png
android.png
angry_trump.png
appleinc.png
areyoukiddingme.png
arya.png
asana.png
asana2.png
asdf.png
ashton.png
aussiecongaparrot.gif
aussiecongaparrot.png
aussieparrot.png
aussiereversecongaparrot.gif
aussiereversecongaparrot.png
autobots.png
aw-yea.png
aw_yeah.png
awesome.png
aws_eb.png
awthanks.png
awwyiss.png
awyea.png
awyiss.png
axe.png
back_away.png
bacon.png
badass.png
badger.png
badjokeeel.png
badpokerface.png
badpundog.png
badtime.png
balloonface.png
bam.png
bananadance.png
bananaman.png
bananas.png
bandcamp.png
bandit.png
barf.png
basecamp.png
basket.png
batman.png
bb8.png
bb82.png
beachball.png
beanbag.png
bears.png
bender.png
bernie_sanders.png
berry.png
bestbeverage.png
bigsmile.png
biking.png
bird-person.png
blacksun.png
blackswan.png
blocker.png
bluesteel.png
bluestripe.png
bmo.png
bmo2.png
bob_ross.png
bobba_fett.png
booom.png
boratthumbsup.png
boredparrot.png
bows.png
brain.png
brainfreeze.png
branch.png
brb.png
briefcase_wanker.png
browser.png
bucha.png
bucks.png
bud_light.png
budweiser.png
bulbasaur.png
bulls.png
bumble.png
bunny.png
burn.png
butanimated.png
bye_boo.png
c3po.png
c3po2.png
cadbury.png
candycorn.png
captain_america.png
captain_obvious.png
captain_phasma.png
caris.png
carlton.png
carlton2.png
carlton3.png
cartman.png
caruso.png
cash.png
cavaliers.png
cecy.png
ceilingcat.png
celebrate.png
celeryman.png
celtics.png
cerealguy.png
cerealspit.png
chad.png
challenge_accepted.png
challenge_denied.png
challengeaccepted.png
challengedenied.png
chance.png
chandler_dance.png
chandler_dance2.png
charizard.png
charmander.png
charmander_dancing.png
cheeky.png
cheese.png
chemex.png
chemex2.png
chewy.png
chillparrot.gif
chillparrot.png
chocobo.png
chocobunny.png
chompy.png
chris.png
chrisd.png
chucknorris.png
chunky-bacon.png
circleci-fail.png
circleci-pass.png
circleci.png
clapping.png
clarence.png
classy-pbj-time.png
classy_pbj_time.png
clippers.png
clojure.png
clojure2.png
cloudyell.png
coconut.png
code.png
codebuffet.png
codepen.png
coin.png
cold.png
command.png
companion_cube.png
con-air.png
confused_travolta.png
confusedparrot.png
congaparrot.gif
congaparrot.png
congapartyparrot.png
content.png
continue.png
cooked_turkey.png
cool_cat.png
coolio.png
corndog.png
cornelius.png
corona.png
creeper.png
crowdfire.png
crying_jordan.png
crying_kim_kardashian.png
cryingjordan.png
dadjoke.png
daenerys.png
daftpunkmanuel.png
daftpunkthomas.png
dance.png
dance_awkward.png
dancing-hotdog.png
dancing_corgi.png
dancing_duck.png
dancing_hotdog.png
dancing_lisa.png
dancing_penguin.png
dancing_pickle.png
dancing_pikachu.png
database.png
datadog.png
datboi.gif
datboi.png
david.png
deadmau5.png
deadpool.png
deadpool_shock.png
deal_with_it.png
dealwithit.png
dealwithitparrot.gif
dealwithitparrot.png
death_star.png
decepticon.png
decepticons.png
defeat_the_porpoise.png
dentures.png
deputy.png
derp.png
devil.png
dhh.png
dickbutt.png
dietcoke.png
dig.png
digdug.png
digital_ocean.png
diglett.png
disappear.png
disapproval.png
disco.png
disco_dance.png
ditto.png
dna.png
docker.png
doge2.png
doge3.png
domo.png
donald_trump.png
donotwant.png
doom_acid_barrel.png
doom_flame_barrel.png
doom_gib.png
doom_look.png
doom_lost_soul.png
doom_mad.png
door_stop.png
doot.png
doppelganger.png
doritos.png
dosequis.png
dragonball.png
drake.png
drake2.png
drevil.png
drone.png
drool.png
dropitlikeitshot.png
droplr.png
drupal.png
ducreux.png
dude.png
dude2.png
dumpster_fire.png
dumpster_firery.png
dumpsterfire.png
eevee.png
egod.png
elia.png
eliaface.png
elliott.png
elm.png
elmo.png
emacs.png
embarrassed.png
empathy.png
empire.png
enterprise.png
entrigd.png
epic_win.png
ermygerd.png
eth.png
ether.png
evernote.png
evernote_app.png
evilburns.png
ewok.png
excellent.png
excite_biker.png
excited.png
excited2.png
explode.png
explodyparrot.gif
explodyparrot.png
eyeroll.png
f7u12.png
fa.png
facedesk.png
facepalm2.png
facepalm3.png
facepalm4.png
facepalm5.png
fact.png
fail.png
failed.png
fainting-goat.png
fanboy.png
fap.png
fastparrot.gif
fastparrot.png
fb-angry.png
fb-heart.png
fb-laugh.png
fb-like.png
fb-sad.png
fb-wow.png
fffffffuuuuuuuuuuuu.png
fiestaparrot.gif
fiestaparrot.png
finger.png
finger_hole.png
fingers-crossed.png
fingers_crossed.png
fingers_crossed2.png
fingerscrossed.png
finn.png
finn2.png
finn3.png
fireball.png
firstworldproblem.png
fist_bump.png
fistbump.png
flag_on_the_play.png
flames.png
flames2.png
flash.png
flex.png
fliesaway.png
fliesdown.png
flower.png
flying_money_with_wings.png
flyingpig.png
fonzie.png
footinmouth.png
foreveralone.png
freddie.png
freddo.png
freezing.png
frenchpress.png
fridayfriday.png
frog-green.png
frog-red.png
frog-yellow.png
frown.png
fry.png
fsck.png
fuck.png
fury.png
fwp.png
gah.png
gandalf.png
gangnamstyle.png
garret.png
gates.png
gaytroll.png
gcp.png
giggle.png
gir_dance.png
git.png
github_octocat.png
gizmo.png
glowstick.png
gmail.png
good.png
good_job.png
goodnews.png
google.png
googlecloud.png
goomba.png
gopher.png
gopro.png
gothparrot.png
greenbeer.png
grizzlies.png
growler.png
grumpycat.png
grumpycat2.png
gtfo.png
guiness.png
guinness.png
gusta.png
hadouken.png
haha.png
hahabusiness.png
hamilton.png
hammer-time.png
hammer_time.png
handhug.png
handshake.png
handturkey.png
happening.png
happy_obama.png
happygoat.png
happypanda.png
happytear.png
harold.png
harry.png
harvest_app.png
haveaseat.png
hawks.png
headbang.png
headcrab.png
headdesk.png
headphones_on.png
heartbleed.png
heat.png
hello.png
heres_johnny.png
heroku.png
hey-girl.png
high-five.png
high_speed_rail.png
hillary_clinton.png
hipster.png
hipster_oversized_glasses.png
home.png
homer-disappear.png
homestarrunner.png
honeybadger.png
hornets.png
hr.png
hr_green.png
hr_red.png
hr_yellow.png
hugefan.png
hugs.png
huh.png
hulk.png
humpday.png
hungover.png
hypnotoad.png
hypnotoad2.png
i-am-in.png
i_see_what_you_did_there.png
ian.png
ibm.png
ice-cream-parrot.gif
ice-cream-parrot.png
ice.png
icecream_parrot.png
ideaflow-wtf.png
ideaflow-yay.png
ilied.png
illustrator.png
imposibru.png
imzy.png
inbread.png
indeed.png
indesign.png
inlove.png
insanity_wolf.png
instacart.png
instagram.png
instagram2.png
instinct.png
interesting.png
iseewhatyoudidthere.png
island.png
its_fine.png
ivysaur.png
jace.png
jackie.png
jaime.png
jake.png
jake_wink.png
jankyins.png
jar.png
jared.png
jarritos.png
java.png
jazz.png
jeb.png
jeff.png
jelly.png
jenkins.png
jenkins_ci.png
jigglypuff.png
jim.png
jira.png
jj.png
jobs.png
joe.png
joffrey.png
jon.png
jonsnow.png
jordan_cry.png
josh.png
k8s.png
kanye.png
kanye_west.png
kappa.png
kate.png
kenny.png
kennypowers.png
kerbal_space_program.png
kid-deal.png
kings.png
kirby.png
kirby2.png
knicks.png
knuckles.png
knuckles_waiting.png
koopakart.png
krang.png
kubernetes.png
kungfu.png
kwanzaa.png
kyle.png
kylo_ren.png
lacroix.png
lakers.png
lalala.png
landspeeder.png
laugh.png
laughing-then-crying.png
laughingman.png
leah.png
lebowski-what-day.png
left-shark.png
left_shark.png
leftshark.png
leftshark2.png
lel.png
lemming-drop.png
letsplay.png
librato.png
lifeishard.png
liftoff.png
lilbub.png
lincoln.png
link-run.png
link-spin.png
link-triforce.png
linuxpenq.png
liono.png
lips_sealed.png
livedangerously.png
lolwut.png
look-both-ways.png
lucy.png
lumberg.png
magic.png
magic2.png
mailchimp.png
mango.png
mangodb.png
mario-block.png
mario.png
mario2.png
mario3.png
mario4.png
mario_block.png
mario_mushroom.png
martini.png
matrix.png
matt.png
mavericks.png
mcdonalds.png
mckayla.png
me-neither-potato.png
me-too.png
meditating.png
meeseeks.png
megalizard.png
megusta.png
menorah.png
merge.png
merica.png
merica2.png
metabase.png
metal2.png
metroid.png
mew.png
mewtwo.png
mic_drop.png
middleparrot.png
mike.png
mindblown.png
mindblown2.png
minion_wave.png
mj.png
mk_cyrax_dance.png
mlp.png
moneymouth.png
moneyonfire.png
monocle.png
mooning.png
moonwalkingparrot.png
morty.png
moss.png
motherofgod.png
mugatu.png
mystic.png
mystic2.png
n.png
n64.png
narwhal.png
narwhalbacon.png
nate_abc.png
ned.png
nemo.png
nerfwar.png
netflix.png
nets.png
new_relic.png
nextgendev.png
nice.png
nicmoji_angry.png
nicmoji_laugh.png
nicmoji_sad.png
nicmoji_smile.png
nicmoji_the_bees.png
ninja.png
ninja2.png
no.png
no_way_oprah.png
not_metal.png
not_sure.png
notbad.png
notes_minion.png
nothingtodohere.png
notorious_big.png
notsureifgusta.png
nuggets.png
nyan.png
nyancat.png
nyancat_big.png
obama.png
ohcrap.png
ohno.png
ohyeah.png
okay.png
okguy.png
olaf.png
oldtimeyparrot.png
omg-panda.png
omg.png
omglol.png
on_the_throne.png
onedoesnotsimply.png
oof.png
oops.png
opera.png
orly.png
oyster.png
pacers.png
pagerduty.png
pamplemousse.png
panda_dance.png
panic.png
parrot.png
parrotcop.gif
parrotcop.png
parrotdad.gif
parrotdad.png
parrotparty.png
parrotwave1.gif
parrotwave1.png
parrotwave2.gif
parrotwave2.png
parrotwave3.gif
parrotwave3.png
parrotwave4.gif
parrotwave4.png
parrotwave5.gif
parrotwave5.png
parrotwave6.gif
parrotwave6.png
parrotwave7.gif
parrotwave7.png
party.png
party_parrot.png
party_parrot_shuffle.png
partyparrot.png
partypickle.png
patrick.png
paul.png
paypal.png
pbr.png
peace.png
peanut_butter_jelly_time.png
peekaboo.png
peep.png
pelicans.png
pepper-dance.png
pepperdance.png
percent.png
pete.png
peter.png
pewpew.png
phantom.png
phasma.png
philosoraptor.png
phoenix.png
photoshop.png
php.png
picard-why.png
pickle.png
pickletaco.png
pigpen.png
pikachu.png
pikachu2.png
pikachu_dancing.png
pinball.png
pingpong.png
pinkiepie.png
pinterest.png
pirate.png
pistons.png
pizza_party.png
pizzaspin.png
plane.png
please.png
please_minion.png
plusone.png
podio.png
poe.png
poke.png
pokemon.png
poo.png
poolparty.png
poolparty2.png
popcorn-scared.png
postgres.png
postgresql.png
powerup.png
praisethesun.png
present.png
prettyinstant.png
product-hunt.png
psy.png
psyduck.png
puke.png
pumpgirl.png
pumpgirlrevers.png
pumpkin.png
purpose.png
pushbullet.png
python.png
quetzalcoatlus.png
r2d22.png
rageguy.png
rails.png
rainbow-unicorn-butterfly-kitten.png
rainbow_flag.png
rainbow_puke.png
rainbowpuke.png
rant.png
raptors.png
react.png
readingpoopincrying.png
rebeccablack.png
rebel.png
reddit.png
redirect.png
redmine.png
redux.png
renaissance_person.png
respect.png
retard.png
reversecongaparrot.gif
reversecongaparrot.png
richardstallman.png
rick.png
rick_ross.png
right-shark.png
rightparrot.png
rightshark.png
rock.png
rock_out.png
rocket_launcher.png
rockets.png
rockstar-can.png
rofl.png
roll-on-floor.png
romney.png
ron_swanson.png
rotten.png
rubber-duck.png
ruby2.png
ruby_on_rails.png
rudolph.png
run-in-circles.png
sad_apple.png
sad_obama.png
sadcloud.png
sadparrot.gif
sadparrot.png
sadpickle.png
sadtroll.png
safari.png
sailor_moon.png
salt.png
salute.png
samuel.png
sandwich.png
saree.png
scooby.png
scope_creep.png
scotch.png
scumbag.png
sealed.png
seomoz.png
sf_giants.png
shave.png
sheepy.png
shellshock.png
shia.png
ship_it_parrot.png
shocked.png
shufflefurtherparrot.png
shuffleparrot.png
shufflepartyparrot.gif
shufflepartyparrot.png
sideeyebrit.png
skipping.png
skype.png
skyrim.png
slack_call.png
slam.png
slant.png
slow_clap.png
slowclap.png
slowparrot.gif
slowparrot.png
smh.png
smiths.png
smoke_it.png
snailing.png
snapchat.png
snoooooooooop.png
snoop_dancing.png
snoopy.png
snorlax.png
socrates.png
socute.png
somewhat_metal.png
sonic-dance.png
sonic-running.png
sonic-wait.png
sonic.png
sonic_sleeping.png
sonic_waiting.png
soundcloud.png
sour_beer.png
spam.png
sparta.png
spinner.png
spoderman.png
spot_dance.png
spotify.png
spurs.png
squareup.png
squirtle.png
sriracha.png
stableparrot.png
stackoverflow.png
stallman.png
stan.png
stapler.png
starbucks.png
stare.png
starwars.png
stash.png
steven-cute.png
stickam.png
stop.png
stormtrooper.png
straightface.png
strawman.png
stripe.png
subzero_turnt.png
success-kid.png
success.png
success_kid.png
successful.png
sun.png
suns.png
surprised_obama.png
suzy.png
swarm_app.png
swear.png
tableflip.png
taft.png
tails.png
take-a-bow.png
take_my_money.png
talk_to_the_hand.png
taylor.png
taylor_swift.png
taylor_swift2.png
tdd.png
teaminstinct.png
teammystic.png
teamvalor.png
terminator.png
terraform.png
terrycrews.png
tesla.png
thanks-mister.png
thanks.png
thankyou.png
the_more_you_know.png
the_more_you_know2.png
thecheat.png
thedude.png
thisisfine.png
thumb_down.png
thumb_up.png
thumbs_down.png
thumbs_up.png
thumbsup_all.gif
thumbsupparrot.png
thunder.png
thundercats.png
tie-fighter.png
tie_fighter.png
til-animated.png
til.png
timberwolves.png
timeflies.png
timeforthat.png
tinder.png
tiptoe.png
tjsparklingh2o.png
todd.png
todoist.png
toggl.png
tooreal.png
torvalds.png
totes.png
totesmagoats.png
totoro.png
toucan.png
trailblazers.png
trap.png
trashfire.png
travisci.png
travolta.png
tree.png
trello.png
triforce.png
trogdor.png
trolldance.png
trump.png
trump_china.png
trump_hair.png
truth.png
try-it.png
tumbleweed.png
turkey2.png
tux.png
twerk.png
twitter2.png
two-cents.png
twss.png
typeform.png
tyrannosaur.png
tyrion.png
tywin.png
ugh.png
ugh_minion.png
unacceptable.png
under_construction.png
underbus.png
unicorn2.png
unimpressed.png
unknown.png
upvote.png
usmnt.png
valor.png
venom.png
verified.png
very_metal.png
very_nice.png
verynice.png
vibe.png
victory.png
vinyl.png
vivek.png
vomit.png
waddup.gif
waddup.png
waiting.png
warriors.png
washington.png
watch_out.png
waving.png
weed.png
weighted-companion-cube.png
welcome.png
welldone.png
wesbos.png
what_year_is_it.png
whatever_minion.png
whewww.png
whiskey.png
whisky.png
whoa.png
whoa_guys.png
why_not_both.png
whynotboth.png
whynotzoidberg.png
wiggle_cat.png
winktongue.png
winky.png
witch.png
wizards.png
woah.png
wololo.png
wolverine.png
wonka.png
woo-growlithe.png
woodstock.png
woohoo.png
wookiemom.png
word.png
wordpress.png
worst_ever.png
worstever.png
wowcat.png
wtf.png
x-wing.png
xy.png
xzibit.png
y-u-no.png
y.png
y_u_no.png
yak2.png
yak3.png
yawaseilf.png
yay.png
yay2.png
yaycloud.png
yells_at_cloud.png
yep.png
yes-but-not-yet.png
yeti.png
yey.png
yo.png
yoda.png
yodawg.png
yoga.png
yoshi.png
you-are-welcome.png
you_dont_say.png
yougotitdude.png
your-wish-is-my-command.png
zombie.png
zombie2.png
